<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeQZ</title>

<!-- Подключаем Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link href="../Css/Style.css" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/made-soulmaze" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Необходимо подключить jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Добавляем Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

<header>
    <!-- Bootstrap навигационная панель -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container">
            <a class="navbar-brand" href="../Index.html">
                <img src="../Images/Logo.png" alt="Logo", class="navbar-brand">
                <h1 class="logotexto inline">Code</h1>
                <h1 class="logotexts inline">QZ</h1>
            </a>
            <script>
                const appearance = (element, timeout) => { // убрал неиспользуемый параметр display
                    element.style.opacity = '0';
                    element.style.transition = `opacity ${timeout}s`; // исправил на шаблонную строку с обратными кавычками
                    setTimeout(() => {
                        element.style.opacity = '1';
                    }, 10);
                }
                const brand1 = document.querySelector('.navbar-brand');
                appearance(brand1, 2);
                const brand2 = document.querySelector('.logotexto');
                appearance(brand2, 2);
                const brand3 = document.querySelector('.logotexts');
                appearance(brand3, 2);
            </script>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link" href="#">You are here <span class="sr-only">(current)</span></a>
                    <a class="nav-link" href="/about">About us</a>
                    <a class="nav-link" href="/register">Sign Up</a>
                    <a class="nav-link" href="/login">Login</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<section>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem; margin-top: 10em; background-color:#222622;">
                    <div class="card-body">
                        <h5 class="card-title teststext">Тест по JS</h5>
                        <p class="card-text teststext">Как создатель теста по JavaScript, я сделал акцент на всесторонней проверке знаний, включая основы языка, DOM манипуляции, событийную модель и асинхронное программирование. Тест включает сценарии с использованием ES6+ синтаксиса и фреймворков, таких как React и Node.js, оценивая умение кандидатов адаптироваться к современным тенденциям веб-разработки. Он разработан для того, чтобы выявить глубокое понимание и практические навыки решения задач. Плюсы теста заключаются в его комплексном подходе и актуальности, а также в акценте на реальном кодировании и решении задач, что делает его идеальным для оценки кандидатов.</p>
                        <a href="#" class="btn btn-primary">Пройти тест</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; margin-top: 10em; background-color:#222622;">

                    <div class="card-body">
                        <h5 class="card-title teststext">Тест по PYTHON</h5>
                        <p class="card-text teststext">Как разработчик теста по Python, я создал инструмент, покрывающий широкий спектр тем: от базового синтаксиса и структур данных до продвинутых концептов, таких как ООП, декораторы и асинхронное программирование. Тест структурирован для измерения понимания языка на различных уровнях и включает задачи на реальное кодирование, что выделяет его на фоне стандартных выборочных вопросов. Особенно ценно, что тест нацелен на оценку способности к проблемному анализу и эффективному решению задач, что делает его необходимым ресурсом для идентификации квалифицированных специалистов Python.</p>
                        <a href="#" class="btn btn-primary">Пройти тест</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; margin-top: 10em; background-color:#222622;">

                    <div class="card-body">
                        <h5 class="card-title teststext">Тест по UNITY</h5>
                        <p class="card-text teststext">Как разработчик теста по Unity, я сфокусировался на оценке практических навыков: работа с ассетами, скриптами, UI и физикой. Тест охватывает ключевые концепции, необходимые для успешного создания игр: от простой анимации до сложных интеграций с системами AI. Преимуществами теста являются его актуальность, обширное покрытие материала и баланс между теорией и практикой. Это даст возможность работодателям точно оценить способности претендентов, а разработчикам — выявить зоны для роста. Созданный с учетом последних обновлений Unity, тест следует трендам индустрии и гарантирует релевантность оценки компетенций.</p>
                        <a href="#" class="btn btn-primary">Пройти тест</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer bg-success py-3">
    <div class="container">
        <span>&copy; 2024 NExt team. <a href="https://github.com/vzgr/CodeQZ"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png", class="githublogo"></a></span>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
<script>AOS.init();</script>

<!-- Подключаем Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.1.9/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doMkKqN5JWi1toQdP5VTp0oGdjl5jBP4epzj1K9phqgwwHJT6/7P4ps" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+JS80GB+8llPCS7lxIHE2eN4HaojKE3agorz" crossorigin="anonymous"></script>

</body>
</html></title>
</head>
<body>

</body>
</html>
